extends layout

include _includes/sharedHTMLfunctions

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
         small &nbsp;#{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8(ng-controller="bookListCtrl")
      label(for="filter") Filter results
      input#filter(type="text", name="filter", ng-model="textFilter")
      .error {{ message }}
      .row.list-group
        .col-xs-12.list-group-item(ng-repeat="book in data.books | filter: textFilter")
          h4 
            a(ng-href="{{getBookURL($index)}}") {{ book.name }}
            small {{"        "+book.rating}}
            span.badge.pull-right.badge-default {{ book.type}}
          p.author {{ book.author }}
          p
            span.label.label-warning.label-literary_element(ng-repeat="literary_element in book.literary_elements")
              | {{ literary_element }}
    .col-xs-12.col-sm-4 
      p.lead= sidebar